@keyframes mostraplay{
    from{
        bottom: 40px;
        opacity: 0;
    }
    to{
        bottom: 50px;
        opacity: 1; 
    }

}


* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;

}


header{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 5px;
    height: 60px;
    width: 100%;
    background-color: black;

}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 300px;
    margin-left:10px ;
}


.casa{
    font-size: 30px;
    color: rgb(143, 141, 141);
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(41, 40, 40);
    border-radius: 300px;   
}

#inicio:hover{
    width: 51px;
    height: 51px;
    font-size: 51px;
    cursor: pointer;
}

#barra{  
    margin-left: 10px;
    width: 450px;
    height: 50px;
    border-radius: 300px;
    background-color:  rgb(41, 40, 40);
    border: none;
}
.pesquisa{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
    width: 220px;
}

#inscrever{
    text-decoration: none;
    color: rgb(155, 154, 154);
}

#entrar{
    display: flex;
    text-decoration: none;
    background-color: white;
    height: 48px;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 300px;
}

#inscrever:hover{
    font-size: 21px;
    color:white
}

#entrar:hover{
    font-size: 21px;
    background-color: rgb(216, 216, 216);
    height: 50px;
    width: 102px;
}


#navegar{
    margin-top: 80px;
    margin-left: 30%;
    width: 70%;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;

}
.ordem{
    display: flex;
    justify-content: space-around;
}


.quebra{
    display: flex;
    width: 190px;
    height: 235px;
    flex-wrap: wrap;
    border-radius: 6px;

}

.quebra2{
    display: flex;
    width: 190px;
    height: 235px;
    flex-wrap: wrap;
    border-radius: 6px;

}
.quebra:hover{
    background: linear-gradient( to bottom ,rgb(46, 46, 46),rgb(62, 62, 62) );
    .play{
        animation: mostraplay 400ms 0s;
        bottom: 50px;
        opacity: 1;
    }
    cursor: pointer;
}

.quebra2:hover{
    background:rgb(62, 62, 62);

    cursor: pointer;
}

.classifica{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top:12px ;
}
.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 7px;

}
.circulo{
    margin-top: 15px;
    border-radius: 300px;
    width: 170px;
    height: 170px;

}
.quadrado{
    margin-top: 15px;
    width: 170px;
    height: 170px;

}

.definicao{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
}

.definicao:hover{
    text-decoration: underline;
}

.tudo{
    color: rgb(148, 147, 147);
    text-decoration: none;
    margin-right: 15px;
}

.tudo:hover{
    text-decoration: underline;
}

.info a{

    color: white;
    text-decoration: none;
    font-size: 21px;
}
.info a:hover{
    text-decoration: underline;
}
.info span{
    color: rgb(172, 172, 172);
}

.cantor{
    width: 100%;
    display: flex;
    justify-content: center;
}


#outroslinks{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
}
.arrumalink{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.arrumalink a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    margin-top: 7px;
    width: fit-content;
}
.arrumalink a:hover{
    
    text-decoration: underline;
    color: rgb(255, 255, 255);

}

#Redes{
    display: flex;
    justify-content: end;
    width: 200px;
}


.rede{
    display: flex;
    background-color: rgb(62, 62, 62);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 300px;
    font-size: 20px;
    color: white;
    margin: 0px 10px ;
}
.rede:hover{
    background-color: rgb(161, 161, 161);
    cursor: auto;
}

#direitos{
    color: gray;
    font-size: 15px;
    height: 150px;
    margin: 30px ;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
}
#lateral{
    background-color: rgb(37, 37, 37);
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    width: 28%;
    height: 550px;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;    
    color: rgb(155, 154, 154);
}
#biblioteca a{
    margin-left: 3px;
    text-decoration: none;
    color: rgb(155, 154, 154);
}
#biblioteca a:hover{
    color: white;

}
#pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#biblioteca{
    color: rgb(155, 154, 154);
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mais{
    font-size: 22px;
}
.mais:hover{
    background-color: rgb(82, 82, 82);
    border-radius: 300px;
}

#sugestao{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-gap: 10px;
    width: fit-content;
    color: white;
    background-color: rgb(94, 94, 94);
    border-radius: 10px;
    width: 340px;
    b{
        font-size: 18px;
    }
    button{
        border-radius: 300px;
        width: 130px;
        height: 40px;
    }
}

#info1{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
    a{  

        margin-left: 20px;
        text-decoration: none;
        font-size: 12px;
        color: rgb(82, 82, 82);
    }

  }
#info2{


    display: flex;
    justify-content: space-between;


}

#brasil{
    margin-top: 20px;
    button{
        background-color: transparent;
        color: white;
        border: white 1px solid;

        width: 190px;
        height: 40px;
        border-radius: 300px;
    }
}










